@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(imagens/BG.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 8px black;
  padding: 20px;
}

form {
  background-color: white;
  padding: 20px;
}

div.conteudo-campo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

div.conteudo-campo input[type="text"] {
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

div.conteudo-campo input[type="password"] {
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

div.conteudo-senha {
  display: flex;
  justify-content: flex-end;
}

div.conteudo-senha p {
  color: black;
  font-size: 10px;
  margin: 5px;
  padding: 3px;
}

button#login{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: linear-gradient(to right,#0ECFE0,#7C71ED, #F00BFE );
}

button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

div.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

div.redes-sociais p {
  font-size: 10px;
}

div.redes-sociais-img {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

div.redes-sociais-img img {
  width: 40px;
  background-color: white;
  border-radius: 50%;
  margin: 3px;
}

div.final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.final p {
  font-size: 12px;
}

button#link {
  width: auto;
  background-color: rgba(6, 29, 6, 0.511);
  padding: 10px 20px;
  margin: 3px;
  border: none;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}

button > a {
  cursor: pointer;
}