@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(imagens/img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background-color: #7e22a2a4;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  box-shadow: 1px 1px 8px black;
  padding: 20px;
}

.conteudo-campo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.conteudo-campo input[type="text"],
input[type="password"] {
  padding: 5px;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.conteudo-senha {
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 1rem auto;
}

a.conteudo-senha:hover {
  text-decoration: underline;
}

button.login {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #0ecfe0, #7c71ed, #f00bfe);
}

button.login a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.redes p {
  font-size: 1rem;
  text-align: center;
}

.redes-icons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.redes-icons a i {
  margin: auto 0.5rem;
  color: black;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-form p {
  font-size: 1rem;
}

@media screen and (orientation: portrait) {
  body {
    background-image: url(imagens/BG.jpg);
  }
}

@media screen and (max-width: 420px) {
  .form {
    width: 250px;
  }
}