@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(80deg, green, black, 5%, green, yellow);
  background-attachment: fixed;
}

main {
  margin: 20px 40px;
  background-color: transparent;
  width: auto;
  height: auto;

  border: 1px solid black;
  border-radius: 10px;
}

form {
  width: auto;
  height: auto;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 20px auto;
  display: block;
}

label {
  padding: 10px;
  width: 20%;
}

fieldset {
  width: auto;
  padding: 25px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
}

legend {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

div.conteudo {
  display: flex;
  flex-direction: row;
  margin: auto;
}

input {
  width: 100%;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
}

div.btn {
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.btn > a,
input.enviar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
}

input.enviar:hover,
div.btn > a:hover {
  background-color: black;
  color: yellow;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
 fieldset {
  border: 1px solid white;
  padding: 0px;
 }

 div.conteudo {
  width: 100%;
  padding: 0;
 }
 
 label {
  width: 50%;
  margin: auto;
 }

 input{
  width: 50%;
 }

 div.btn {
  margin: 10px;
 }
 
}